@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;900&display=swap");

:root {
  --primary: #e99401;
  --negro: #262626;
  --blanco: #fff;
  --fuente-principal: "Outfit", sans-serif;
}
#nprogress .bar {
  background: #e99401;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
}
img {
  max-width: 100%;
}

[class*="contenedor"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}

[class*="heading"] {
  position: relative;
  font-size: 4rem;
  text-align: left;
  font-weight: 700;
  color: var(--negro);
  margin: 5rem 0;
}

[class*="heading"]::after {
  position: absolute;
  content: "";
  width: 70%;
  height: 6px;
  background-color: var(--primary);
  left: 0;
  bottom: 0;
}
